<!-- 
<label>Enter username</label>
<input type="text" name="uname" #uname>
<br>
<label>Enter password</label>
<input type="password" name="pass" #pass>
<br>
<button (click)="Login(uname.value,pass.value)">Login</button> -->
<mat-card class="example-card" style="margin-block-start:7%;margin-left: 30%;margin-right: 55%">
  <mat-card-header>
    <mat-card-title>New User</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter your name" [(ngModel)]="name" name="name" required>
                  </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="signUp()" color="primary">Signup</button>
    <button  mat-raised-button (click)="Cancel()" color="primary">cancel</button>
  </mat-card-actions>
</mat-card>
